<div class="container w-50 pt-3">
  <div class="row">
    <div class="col">
      <h1 class="text-start display-4 ml-1 fw-bold">KONSTRUKT</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/projects">
              <img src="/assets/sanisnow.png" class="img-fluid" alt="...">
            </a>
          </div>
          <div class="carousel-item">
            <a href="/projects">
              <img src="/assets/qext.JPG" class="img-fluid" alt="...">
            </a>
          </div>
          <div class="carousel-item">
            <a href="/projects">
              <img src="/assets/mext.JPG" class="img-fluid" alt="...">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text-end display-4 fw-lighter ms-5">ARCHITECTS</h2>
    </div>
  </div>