<div class="home-container">
  <div class="container w-50 pt-3">
    <div class="row">
      <div class="col">
        <h1 class="home-text text-start display-4 ml-1 fw-bold">KONSTRUKT</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="/projects">
          <div class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/sanisnow.png" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/qext.JPG" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/mext.JPG" class="img-fluid" alt="...">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="home-text text-end display-4 fw-lighter ms-5 py-1">ARCHITECTS</h2>
      </div>
    </div>
  </div>
